<header class="fixed-top navbar-dark bg-dark shadow">

  <div>
    <nav class="navbar navbar-expand-sm">
      <div class ="navbar-header"> 
        <%= link_to posts_path, class: "text-light" do %>
          <%=image_tag("user-secret-solid.svg", id: "logo", class: "navbar-branch")%>
          <span class="text-white font-weight-bold font-courgette size-24">Friendship</span>
        <% end %>
      </div>

      <div class= "container mx-auto">
        <div class= "row mx-auto">
          <div class= "col-auto">
            <%= link_to posts_path, class: "text-light nav-link font-raleway" do%>
              <i class="fas fa-home fa-2x"></i> Timeline
            <%end%>
          </div>
        
          <div class= "col-auto">
            <%= link_to users_path, class: "text-light nav-link font-raleway" do%>
              <i class="fas fa-users fa-2x"></i> Find Friends
            <%end%>
          </div>
        </div>
      </div>

      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <%= link_to "Start Chatting", rooms_path %>
      Logged in as <strong><%= current_user.email %></strong>.&nbsp;&nbsp;
      <%= link_to "My Profile", user_path(current_user), class: "dropdown-item font-raleway" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>&nbsp;&nbsp;
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
      </ul>
    </nav>
  </div>
</header>






